.dev-list {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 0 20px;
  margin: 20px;
  font-size: 1em;
  color: #6b6b76;
  outline: none;
  border-radius: 5px;
  width: 25%;
}

.dev-list ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
.dev-list .dev-info {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 5%;
}
.dev-list .dev-name {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  flex-grow: 1;
}
hr {
  opacity: 0;
}
li + li hr {
  opacity: 0.2;
}
.dev-list p {
  margin: 0;
}
.dev-list strong {
  margin: 0;
}
.dev-list button {
  color: red;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.dev-list i {
  padding-left: 5%;
  font-size: 1.5em;
}
